* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.strong {
  color: #ed7063;
}

.title {
  font-size: 3rem;
  font-weight: 700;
}

.container {
  gap: 2em;
  width: 100%;
  height: 100%;
  display: flex;
  color: #fefeff;
  padding: 1em 2em;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #14181b;
}

.header {
  gap: 0.5em;
  width: 100%;
  display: flex;
  max-width: 480px;
  align-items: center;
  flex-direction: column;

  .description {
    max-width: 50ch;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
  }

  .progressContainer {
    gap: 0.5em;
    width: 100%;
    display: flex;
    margin-top: 1em;
    flex-direction: column;

    .progressContainerTop {
      gap: 0.5em;
      display: flex;
      font-weight: 700;
      align-items: baseline;
      justify-content: space-between;

      .progressTitle {
        letter-spacing: 2px;
      }

      .progressStatus {
        font-size: 2rem;
      }
    }

    .progressContainerBottom {
      $height: 16px;
      height: $height;
      position: relative;
      border-radius: $height / 2;
      background-color: hsl(210, 3%, 27%);

      &::after {
        inset: 0;
        content: "";
        position: absolute;
        border-radius: $height / 2;
        background-color: white;
        right: calc(100% - var(--progressBarRight, 100%));
      }
    }
  }
}

.main {
  flex: 1;
  width: 100%;
  display: grid;
  max-width: 480px;
  margin-bottom: 1em;
}

.gridSelection {
  gap: 1em;

  .gridSelectButton {
    --hue: 16;

    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: hsl(0, 0%, 10%);
    background-color: hsl(var(--hue), 100%, 60%);
    border: 5px solid hsl(var(--hue), 100%, 30%);

    &.selected,
    &:focus,
    &:active,
    &:hover {
      background-color: hsl(var(--hue), 100%, 40%);
    }
  }
}

.tileWrapper {
  user-select: none;
  perspective: 600px;
  position: relative;

  .tile {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 1s;
    transform-style: preserve-3d;

    .tileFace {
      width: 100%;
      height: 100%;
      color: white;
      // font-size: 1.5rem;
      border-radius: 5%;
      line-height: 50px;
      font-weight: bold;
      position: absolute;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      // box-shadow: 0px 0px 0.5em 0px rgba(255, 255, 255, 0.2);

      &.tileFaceFront {
        background: #ed7063;
      }

      &.tileFaceBack {
        background: #5a4f90;
        transform: rotateY(180deg);
      }
    }
  }

  .isFlipped {
    transform: rotateY(180deg);
  }
}

.gameOverScreen {
  gap: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  user-select: none;
  margin: -1em -2em;
  padding: 15vh 10%;
  align-items: center;
  flex-direction: column;
  background-color: #14181b;
  justify-content: space-around;
  background-image: linear-gradient(5deg, #14181b 0%, #28313b 74%);

  header {
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 5px;
    font-family: "Courier New", Courier, monospace;
  }

  main {
    width: 100%;
    max-width: 480px;

    .score {
      gap: 2em;
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      span:first-child {
        font-size: 1.5rem;
      }

      span:last-child {
        font-weight: 700;
        font-size: 3.5rem;
        letter-spacing: 1px;
        color: hsl(120, 29%, 50%);
        font-family: "Courier New", Courier, monospace;
      }
    }

    .highScore {
      color: hsl(210, 5%, 60%);

      span:last-child {
        color: hsl(210, 5%, 40%);
      }
    }
  }

  footer {
    width: 100%;
    max-width: 480px;

    .restartGameButton {
      padding: 1em;
      cursor: pointer;
      border-radius: 2px;
      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;
      background-color: hsl(120, 29%, 40%);
      transition: background-color 200ms ease-in-out;

      &:focus,
      &:active,
      &:hover {
        background-color: hsl(120, 29%, 30%);
      }
    }
  }
}

.restartMainButton {
  width: 100%;
  padding: 0.4em;
  cursor: pointer;
  max-width: 480px;
  border-radius: 2px;
  text-align: center;
  margin-top: -1em;
  line-height: 1.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: hsl(250, 29%, 44%);
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: hsl(250, 29%, 34%);
  }
}
