.header,
.main {
  width: 100%;
  max-width: 480px;
}

.header {
  padding-top: 5em;
}

.main {
  flex: 1;
  gap: 5em;
  display: flex;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  flex-direction: column;
  justify-content: space-evenly;
}

.greetUser {
  width: 100%;
  font-weight: 300;
  font-size: 1.3em;
  text-align: center;

  .small {
    max-width: 35ch;
    font-size: 1em;
    margin: 0.5em auto 0;
  }

  .username {
    font-size: 2em;
    font-weight: 700;
    word-wrap: break-word;
    font-family: "Courier New", Courier, monospace;
  }
}

.inputContainer {
  gap: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;

  .inputWrapper {
    gap: 1em;
    display: flex;
    flex-direction: column;

    label {
      font-size: 1.5em;
      letter-spacing: 2px;
      font-family: "Courier New", Courier, monospace;
    }

    input {
      color: black;
      padding: 0.5em;
      font-size: 1.5em;
    }
  }

  .button {
    padding: 0.75em;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: hsl(200, 29%, 40%);
    transition: background-color 200ms ease-in-out;

    &:focus,
    &:active,
    &:hover {
      background-color: hsl(200, 29%, 30%);
    }
  }
}

.bottomButtons {
  gap: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  & > * {
    width: 100%;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    letter-spacing: 2px;
    transition: background-color 200ms ease-in-out;
    background-color: hsl(var(--hue, 0), 29%, 40%);

    &:focus,
    &:active,
    &:hover {
      background-color: hsl(var(--hue, 0), 29%, 35%);
    }
  }

  .startGameButton {
    --hue: 250;

    & > a {
      padding: 1em;
    }
  }

  .showLeaderboardButton {
    --hue: 130;

    & > a {
      padding: 1em;
    }
  }

  .changeUsername {
    --hue: 0;
    padding: 1em;
  }
}

.modalContainer {
  inset: 0;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-out;
  background-color: hsla(0, 0%, 0%, 70%);

  .modal {
    gap: 1em;
    width: 80%;
    padding: 1em;
    display: flex;
    color: black;
    max-width: 420px;
    border-radius: 2px;
    flex-direction: column;
    background-color: white;

    &__Title {
      font-size: 1.8em;
      font-weight: 700;
    }

    &__Description {
      font-size: 1.2em;
      word-wrap: break-word;
    }

    &__Buttons {
      --hue: 250;

      gap: 1em;
      display: flex;
      color: white;
      margin-top: 1em;
      text-align: center;
      justify-content: flex-end;
      text-transform: uppercase;

      & > div {
        cursor: pointer;
        border-radius: 2px;
        padding: 0.5em 2em;
        transition: background-color 200ms ease-in-out;
        background-color: hsl(var(--hue, 0), 29%, 40%);

        &:focus,
        &:active,
        &:hover {
          background-color: hsl(var(--hue, 0), 29%, 35%);
        }
      }
    }

    &__Confirm {
      --hue: 0;
    }
  }
}
